# Папки для виртуальных окружений
venv/
env/
.venv/
.env/

# Папки с временными и кэшированными файлами
*.pyc
*.pyo
__pycache__/

# Директории для базы данных
db.sqlite3
*.sqlite3

# Миграции Django
*.log
*.pot
*.pyc
*.mo
*.po

# Папки для статичных файлов (изображения, css, js и т.д.)
static/
media/

# Файлы конфигурации IDE
.idea/
.vscode/
*.swp

# Файлы конфигурации операционной системы
.DS_Store
Thumbs.db

# Логи и файлы с отчетами
*.log

# Персональные файлы
*.sqlite3
